#welcome {
    width: 60%;
    margin: auto;
    text-align: center;
}

#welcome h1 {
    font-family: 'regular';
}

#welcome h2 {
    font-family: 'regular';
}

#welcome a {
    display: block;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: auto;
    text-decoration: none;
    background-color: #284b63;
    color: white;
    font-family: 'regular';
    font-size: 120%;
    border-radius: 10px;
}
#header {
    background-color: #353535;
    padding: 20px;
    font-family: "regular";
    display: flex;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: #d9d9d9;
}

#header * {
    vertical-align: middle;
}

#header img {
    width: 55px;
    border-radius: 50%;
    padding-right: 10px;
}

#titulo {
    font-size: 200%;
}

#menu {
    list-style: none;
    font-size: 150%;
    margin: 0 0 0 auto;
}

#menu li {
    display: inline;
    margin-left: 30px;
}