body {
    background-color: #d9d9d9;
}
#welcome {
    width: 60%;
    margin: auto;
    text-align: center;
}

#welcome h1 {
    font-family: 'bold';
}

#welcome h2 {
    font-family: 'regular';
    display: block;
    width: 300px;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #284b63;
    color: white;
    padding: 20px 0;
    box-shadow: 3px 3px 5px #353535;
}
